<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница Пэта</title>
</head>
<body>
    <h1>Страница пэта</h2>
    <h2> {{ object.name }} </h1>
    <img src="{{ object.photo.url }}">
    <p> {{ object.age }} </p>
    <p> {{ object.category }} </p>
    <p> {{ object.breed }} </p>
    <p> {{ object.certificate}} </p>
    <p> {{ object.weight }} </p>
    <p> {{ object.info }} </p>
</body>
</html>