<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Петситтер</title>
</head>
<body>
    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
    {% if user.photo.url != None %}
    <img src="{{ user.photo.url }}">
    {% endif %}
    <p> Дата рождения: {{ user.birth_date }} </p>
    <p> {{ user.location }} </p>
    <p> {{ user.about }} </p>
    <h2> Опыт петситтера </h2>
    <p> {{ petsitter.experience }} лет</p>
    <a href="{% url 'orders:create_order' user.id %}"> Создать заявку </a>

</body>
</html>