<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
</head>
<body>
    <h1>{{ user.username }}</h1>
    {% if user.photo.url != None %}
    <img src="{{ user.photo.url }}">
    {% endif %}
    <p> {{ user.first_name}} {{ user.last_name }}</p>
    <p> Дата рождения: {{ user.birth_date }} </p>
    <p> {{ user.first_name}} </p>
    <p> {{ user.location }} </p>
    <p> {{ user.about }} </p>
    <a href="{% url "main:applications" user.username %}"> Заявки </a>

    {% if pets %}
    <h3> Ваши питомцы </h3>
    {% for pet in pets %}
    <a href="{% url "pet:read_pet" pet.id %}"> {{pet.name}} - {{ pet.category }} {{ pet.breed }} </a>
    {% endfor %}
    {% else %}
    <h3> У вас пока нет питомцев, но вы можете их <a href="{% url "pet:create_pet" %}">добавить </a> </h3>
    {% endif %}

    <a href="{% url "chat:room" user.id %}"> Написать </a>

</body>
</html>